<style>
.welcome-screen a[href] {
	color: #0012ff;
}
.welcome-screen .window-content > * {
	flex: 0;
}
</style>

<h1>Thank you for using MindMap!</h1>
<p>This module is still in BETA. Make sure to read the <a href="https://gitlab.com/moerills-fvtt-modules/graphs#-read-first-">Important Information</a> and the rest of the README!</p>
<p>The current state of development and plans for the next update are displayed in the newest <a href="https://gitlab.com/moerills-fvtt-modules/graphs/-/milestones">Milestone</a>.</p>
<h2>Bugs? Issues?</h2>
<p>Take a look at the <a class='.welcome-screen-link' href="https://gitlab.com/moerills-fvtt-modules/graphs/-/issues">GitLabs Issue Board</a>. <br>Does your issue exist already? Give it a thumbs up or comment on it. <br>
If the issue does not exist, create it.</p>
<h2>Suggestions? Feature Requests?</h2>
<p>Currently planned features (and bugs) are on the <a href="https://gitlab.com/moerills-fvtt-modules/graphs/-/issues">GitLabs Issue Board</a>. If your suggestion does not exist already, please create an issue for it and label it as suggestion.</p>
<p>If you want to help the development of Token Mold, send me a merge request and i will gladly take a look at it!</p>

<p style="font-weight: bold; text-align: right;">Best regards, <br>Moerill</p>
<p style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;"><input type="checkbox" class='show-again' id="welcome-screen-show-again"/> <label for="welcome-screen-show-again">Don't show this screen again until next update.</label></p>
<h1>Changelog v0.5.1:</h1>
<ul>
	<li>
		Fixed manual layout not remembering its position after reload.
	</li>
</ul>